[Unit]
Description=cerebro
After=network.target

[Service]
Type=simple
ExecStart=/opt/soft/cerebro/cerebro/bin/cerebro

[Install]
WantedBy=multi-user.target