[Unit]
Description=elasticsearch1
After=network.target

[Service]
Type=forking

User=elsearch

Group=elsearch

ExecStart=/opt/soft/es/es_node1/bin/elasticsearch -d

PrivateTmp=true

LimitNOFILE=65535

LimitNPROC=4096

LimitAS=infinity

LimitFSIZE=infinity

TimeoutStopSec=0

KillSignal=SIGTERM

KillMode=process

SendSIGKILL=no

SuccessExitStatus=143

[Install]
WantedBy=multi-user.target